@{
    ViewData["Title"] = "Mentor Dashboard";
}

<h2 class="fw-bold mb-4">
    <i class="bi"></i> Mentor Dashboard
</h2>

<div class="container mt-4 h-100">


    <div class="row justify-content-center g-4">

        <div class="col-12 col-md-5 col-lg-4">
            <div class="card shadow text-center p-4 h-100">
                <h5>Assigned Students</h5>
                <p>View students under your mentorship</p>
                <a href="/Mentor/AssignedStudents" class="btn btn-primary">
                    View Students
                </a>
            </div>
        </div>

        <div class="col-12 col-md-5 col-lg-4">
            <div class="card shadow text-center p-4 h-100">
                <h5>Student Progress</h5>
                <p>Review task status & weekly reports</p>
                <a href="/Mentor/StudentProgress" class="btn btn-warning">
                    Review Progress
                </a>
            </div>
        </div>

    </div>

</div>
@section style{
	<link rel="stylesheet" href="~/css/dashboard.css" />
}
