<form method="post">
    <input type="hidden" name="studentId" value="@ViewBag.StudentId" />

    <textarea name="message" class="form-control mb-2"
              placeholder="Write message..."></textarea>

    <button class="btn btn-success">Send</button>
</form>