@model List<InternshipTaskManagementSystem.Models.TaskModel>

<div class="container mt-4">

    <h3 class="fw-bold mb-4">
        <i class="fa-solid fa-list-check"></i> Student Tasks
    </h3>

    <a href="/Mentor/AssignTask?projectId=@ViewBag.ProjectId"
       class="btn btn-success mb-3">
        Assign New Task
    </a>

    

</div>

<div>
    <table class="table table-bordered mx-auto table-hover w-75 ">

        <thead class="table-dark">
            <tr>
                <th class="title">Title</th>
                <th class="description">Description</th>
                <th class="status">Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td style="word-break: break-all;">@task.Title</td>
                    <td style="word-break: break-all;">@task.Description</td>

                    <td>
                        <span class="badge
                                    @(task.Status == "Completed" ? "bg-success" :
                                                                               task.Status == "In Progress" ? "bg-warning" : "bg-secondary")">
                        @if (task.Status == "Completed")
                            {
                                <i class="fa-solid fa-check-double"></i>
                            }
                        @if (task.Status == "In Progress")
                            {
                               <i class="fa-solid fa-spinner loader"></i> 
                            }
                        @task.Status
                    </span>
                </td>
            </tr>
                        }
        </tbody>

    </table>
</div>

@section style{
    <link rel="stylesheet" href="~/css/studenttasks.css" asp-append-version="true"/>
}