@using InternshipTaskManagementSystem.Models
@model ChangePasswordDto

<h2>Change Password</h2>

<form method="post">
    <input type="hidden" asp-for="UserId" />

    <div>
        <label>New Password</label>
        <input type="password" asp-for="NewPassword" required />
    </div>

    <div>
        <label>Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword" required />
    </div>

    <br />

    <button type="submit">Update Password</button>

    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
</form>
@section style{
        <link rel="stylesheet" href="~/css/changepassword.css" />

}